.grid2{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

#grid-left {
    flex: 2.5;
    position: relative;
    text-align: left;

}

#grid-right{
    flex: 1.5;
    text-align: right;
}

.menu-button {
    background-color: #3f8cf0;
    color: white;
    border: 0px;
    padding: 3%;
}

.menu-button:hover {
    background-color: #3B7CD0;
}

.menu button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
}

.menu button:not(:first-child):not(:last-child){
    border-radius: 0px;
}

.menu button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

